.campus_photos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.campus_photos img {
  width: 100%;
  border-radius: 10px;
  transition: 0.3s ease;
}

.campus_photo {
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  display: flex;
}

.campus_photo::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.3s ease;
}

.campus_photo:hover img {
  transform: scale(1.1);
}

.campus_photo:hover::after {
  background-color: #000f984d;
}
